header {
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: white;
}

#customfooter {
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: black;
}

#first {
    color: green;
}

.second {
    color: orangered;
}

.element {
    float: left;
    margin-right: 20px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.skill {
    width: 360px;
    background-color: aqua;
}

.project-item {
    width: 360px;
    background-color: orangered;
    float: left;
    margin-right: 20px;
    margin-bottom: 16px;
    color: white;
    padding: 16px;
}

/*
@media works based off of some condtion and does something else

*/

@media (max-width: 600px) {
    /*when the screen is less thna 600px the background will change color*/
    body{
    background-color: lightgreen
    }

    .project-item{
        background-color: purple;
    }
}

/* @media(min-width:650px){
/*anything above 650px will change

    body{
        background-color: pink;
    }

} 
*/

/*min and max height work as well*/

@media (min-width: 650px) and (max-width: 800px) {

    body{
        background-color: pink;
    }


}


 @media (max-width: 400px) {

    .project-item{
        width: 200px;
    }

} 